body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}
/* Basic Reset */
* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.imageContainer {
    position: fixed; /* Keeps the image at the top */
    top: 0;
    left: 0;
    width: 100%; /* Full width of the page */
    display: flex;
    justify-content: center;
    z-index: 1; /* Ensures the image is on top */
}

.imageContainer img {
    width: 100%;
    max-width: 100%;
}

/*for SIGN-OUT BUTTON*/
.container_of_back_button {
    position: absolute;
    border: 0px solid #00000041; /* Border for the container */
    border-radius: 50px; /* Rounded corners for the container */
    padding: 10px 20px; /* Space inside the border */
    color: rgb(0, 0, 0); /* Set default text color */
    top: 150px;
    left: 20px;
    font-size: 20px;
    font-family: Calibri, serif;
    display: flex; /* Flexbox to align items */
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    line-height: 1; /* Reset line height */
    text-decoration: none; /* Remove underline */
    z-index: 1000; /* Ensures the button stays above other content */
}

.container_of_back_button img {
    width: 30px; /* Set the width of the icon */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between the icon and text */
    transition: transform 0.3s ease; /* Smooth transition when scaling */
}

.container_of_back_button a {
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit the color from the container (black) */
}

.container_of_back_button:hover {
    background-color: #b3b3b33a; /* Change color on hover */
  
}

.container_of_back_button img:hover{
    transform: scale(1.2); /* Increase the size by 20% on hover */
}

form {
    width: 500px;
    border: 2px solid gray;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 5px 0; /* Reduced space between input fields */
    border-radius: 5px;
}

button {
    background: transparent;
    padding: 5px 10px;
    color: #000000;
    border: none;
    border-radius: 1px;
    font-size: 15px;
    cursor: pointer;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fa7979;
    border-radius: 50px;
    padding: 5px 10px;
    color: #000;
    font-size: 15px;
    font-family: Calibri, serif;
    margin-top: 0px;
    cursor: pointer;
}

.button_container:hover {
    background-color: #c24e4e;
}